.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.secrets/*
.httr-oauth
docs
inst/extdata/cached-secrets/*
.Rprofile
.Rapp.history
testthat-problems.rds
.Renviron
inst/doc
git_token.txt
/doc/
/Meta/
inst/extdata/CCLE_gene_cn.csvinst/extdata/CCLE_expression.csv
