.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.secrets/*
.httr-oauth
inst/extdata/cached-secrets/*
.Rprofile
.Rapp.history
testthat-problems.rds
.Renviron
inst/doc
git_token.txt
/doc/
/Meta/
*.zip
